@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: Lato;
  color: #777777;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}


h2 {
  font-family: Oswald;
  text-transform: uppercase;
  color: #000000;
}

h6{
    font-size: 2vmin !important;
}


/* ---------------- Website colours */

/* ----------------- Header / Nav-Bar */

.container-fluid .modal-alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
  text-align: center;
}

.navbar {
  position: relative;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-color: #e0dfdf;
}



.navbar-light .navbar-toggler {
  color: black;
  border: none;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.logo {
  font-size: 5vmin;
  float: left;
  color: black;
}

nav li a:hover {
  border-bottom: 1px solid #777;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 2.5vh;
}
}

/* ----------------- Hero Image */
.hero-image {
  background: url("../images/hero-image-BW.jpg") no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 80vh;

  position: relative;
  z-index: 0;
}

.hero-outer {
  
  overflow: hidden;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .hero-image,
  .hero-outer {
    
    width: 100%;
    position: relative;
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  .hero-image,
  .hero-outer {
    
    width: 100%;
    position: relative;
    z-index: 0;
  }
}

@media screen and (max-width: 320px) {
  .hero-image,
  .hero-outer {
    
    width: 100%;
    position: relative;
    z-index: 0;
  }
}

@media screen and (max-width: 570px) {
  .hero-image,
  .hero-outer {
    
    width: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .hero-image,
  .hero-outer {
   
    width: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 15%;
  }
}

/* -----------------------------Cover text */

.cover-text-header {
  color: #000;
  font-family: Oswald;
  position: relative;
}

.cover-text-content {
  color: #fafafa;
  font-family: Oswald;
  position: relative;
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .cover-text-header,
  .cover-text-content,
  .content-header,
  .cover-text-box{

    font-size: 2.5vmin;
  }
}

@media screen and (max-width: 600px) {
  .cover-text-header,
  .cover-text-content,
  .content-header,
  .cover-text-box{
    font-size: 3vmin;
  }
}

@media screen and (min-width: 601px) {
  .cover-text-header,
  .cover-text-content,
  .content-header,
  .cover-text-box{
    font-size: 3vmin;
  }
}

@media screen and (max-width: 320px) {
  .cover-text-header,
  .cover-text-content,
  .content-header,
  .cover-text-box{
    font-size: 3.5vmin;
  }
}

.cover-text-box {
  background-color: #ffb444;
  width: 40%;
  height: auto;
  max-height: 370px;
  max-width: 290px;
  opacity: 0.89;
  padding: 10px;
  position: absolute;
  bottom: 50%;
  z-index: 1;
  left: 20px;
  contain: content;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  .cover-text-box {
    width: 40%;
    height: auto;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 20px;
    contain: content;
    bottom: 50%;
    margin-top: 25px;
  }
}

@media screen and (min-width: 601px) {
  .cover-text-box {
    width: 40%;
    height: auto;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 20px;
    contain: content;
  }
}



@media screen and (min-width: 320px) {
  .cover-text-box {
    width: 40%;
    height: auto;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 20px;
    contain: content;
    bottom: 30%;
  }
}



@media screen and (min-width: 2201px){
  .cover-text-box {
    width: 50%;
    height: auto;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 50px;
    contain: content;
    bottom: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .cover-text-header,
  .cover-text-content {
    font-size: 3vmin;
  }
}

@media screen and (min-width: 1200px) {
  .cover-text-header,
  .cover-text-content {
    font-size: 3vmin;
  }
}

@media screen and (min-width: 2201px){
    .cover-text-header,
  .cover-text-content{
      font-size: 2vmin;
  }
}

.btn-light{
    font-size: 2.3vmin !important;
    background-color: #e0dfdf !important;
    border: none !important;
    color: #747474 !important;
}

.btn-light:hover{
    background-color: #747474 !important;
    color: #e0dfdf !important;
}

/* ---------------------- Block dividers */

.block-divider {
  width: 50%;
  height: 2px;
  background-color: #ffb444;
  border: none;
}

/* ---------------------- / Block dividers */

/* ----------------- Main Content */

.main-content {
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
  z-index: 1;
}

.container h2 {
  color: #ffb444;
}


.why-japan-content {
  color: black;
  margin-top: 15px;
  padding: 30px;
  width: 100%;
  height: auto;
  font-size: 2.5vmin;
  text-align: center;
}

.japan-image-section{
    padding-top: 5px;
    padding-bottom: 5px;
}

.why-japan-image {
  background: url("../images/why-japan.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 30vh;
}

.the-views {
  position: relative;
  color: black;
  padding: 30px;
  width: 100%;
  height: auto;
  font-size: 2.5vmin;
  text-align: center;
}

.the-views-image {
  background: url("../images/views.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 30vh;
  position: relative;
}

.views-image-section{
    padding-top: 5px;
    padding-bottom: 5px;
}

.attraction {
  color: black;
  padding: 30px;
  width: 100%;
  height: auto;
  font-size: 2.5vmin;
  text-align: center;
}

.attraction-image {
  background: url("../images/ueno-festival.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 30vh;
  position: relative;
}

.attraction-image-section{
    padding-top: 5px;
    padding-bottom: 5px;
}

.opaque-overlay {
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 601px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 601px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
/* ------------------ Footer */

.mt-auto, .my-auto{
    background-color: #e0dfdf;
    bottom: 0 !important;
}

.footer{
    padding: 10px;
    position: absolute !important;
    width: 100%;
}

footer ul {
  margin: 0;
}

.social-media {
  text-align: center;
  bottom: 5px;
  padding: 0;
}

.social-media li {
  display: inline;
  text-decoration: none;
}

.social-media i {
  font-size: 160%;
  letter-spacing: 0px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 1%;
  text-decoration: none;
  color: #777777;
  bottom: 10px;
}

@media screen and (min-width: 601px) {
  .social-media i {
    font-size: 200%;
    letter-spacing: 0px;
    padding: 0 45px 0 45px;
    margin: 1%;
    text-decoration: none;
    color: #777777;
    bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .social-media i {
    font-size: 100%;

    padding: 0 20px 0 20px;
    margin: 1%;
    text-decoration: none;
    color: #777777;
    bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .social-media i {
    font-size: 100%;

    padding: 0 15px 0 15px;
    margin: 1%;
    text-decoration: none;
    color: #777777;
    bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .social-media i {
    font-size: 160%;
    letter-spacing: 100px;
    padding: 0 45px 0 45px;
    margin: 1%;
    text-decoration: none;
    color: #777777;
    bottom: 10px;
  }
}

/* ------------------------ Copyright */

.copyright {
  text-align: center;
}

/* ------------------------ Gallery */

/* -------------------- ADD HOVER ANIMATIONS TO PICTURES DESCRIBING THEM */

.image-gallery {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
  flex-flow: column wrap;
  max-width: 100%;
  margin-top: 70px;
}

.image-gallery img {
  width: 100%;
  border: 0.5px solid #fafafa;
  max-height: 100%;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .image-gallery {
    column-count: 2;
  }
}
.image-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  contain: content;
  overflow: hidden;
}

.image-description {
  padding-top: 10%;
  word-spacing: 2px;
  padding-bottom: 10%;
  font-size: 1vmin 3vmax;
}

.image-container .image-description {
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
  text-align: center;
  font-weight: bold;

  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1vmin 2vmax;
}

.image-container:hover .image-description {
  opacity: 0.8;
  background: #777;
  color: white;
  visibility: visible;
  transition: 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
}

.image-link {
  text-decoration: none;
  color: white;
  text-transform: none;
}

@media screen and (max-width: 1366px) {
  .image-container:hover .image-description {
    display: none;
  }
}

/* -------------------- Modal */

.modal-form,
.modal-body {
  padding: 0 10px 0 15px;
}

.modal-header{
    border-bottom: none !important;
}

.modal-body p{
    margin-bottom: 0;
}

.modal-form label{
    padding-bottom: 10px;
}

.modal-content{
    background-color: #ffeec4  !important;
}

/*------------------------------- Book Now - Form */

.booking-page {
  background: url("../images/cherry-blossom.jpeg") center center no-repeat;
  background-size: cover;
  align-items: center;

}

.book-now-form {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  margin-top: 60px;
 
}

@media screen and (min-width: 800px){
.book-now-form {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  margin-top: 60px;
}
}

.radio-buttons {
  text-align: left;
}

.btn-primary {
  background-color: #ffb444 !important;
  color: black !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #ecc282 !important;
}
