@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
font-family: Lato;
  color: #777777;
  background-color: #fafafa;
}

h2{
  font-family: Oswald;
  text-transform: uppercase;
  color: #000000;
}


/* ---------------- Website colours */

.bg-light {
    background-color: white;
}






/* ----------------- Header / Nav-Bar */

.navbar{
    text-align: left;
    display: inline;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 75px;
    padding:0;
    margin:0;
    
    position: absolute;
   
    



}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    /*border-color: rgba(0,0,0,0);*/
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(111, 103, 103, 0.5);
}


.logo{

    font-size: 5vmin;
}





/* ----------------- Hero Image */
.hero-image{
background: url("https://www.luxurygold.com/-/media/images/destinations/2018/asia/japan_mountfuji_hero01.jpg?h=660&w=1920&la=en&hash=0A90D9097E7D34B5875CA001358F9F0A6AF16D30") no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
width: 100%;
height: 500px;

position: absolute;



}

.hero-outer{
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
  


}

.cover-text-header{
    color: #000;
    font-family: Oswald;
    position: relative;
    
    
    
}

.cover-text-content{
    color: #fafafa;
    font-family: Oswald;
    position: relative;
    
    
}

@media screen and (min-width: 601px) {
  .cover-text-header, .cover-text-content {
    font-size: 3vh 3vw;
  }
}


@media screen and (max-width: 600px) {
  .cover-text-header,.cover-text-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .cover-text-header,.cover-text-content {
    font-size: 18px;
  }
}

#cover-text-box{
    
    background-color: #ffb444;
    width: 40%;
    height: 40%;
    max-height: 370px;
    max-width: 290px;
    opacity: 0.89;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    left: 20px;
    contain: content;
    margin: 0 auto;
    overflow: hidden;
}





/* ----------------- Main Content */







/* ------------------ Footer */

.social-media{
    text-align: center;
}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 160%;
    letter-spacing: 25px;
    padding: 5%;
    margin: 1%;
    text-decoration: none;
    color: #777777;

}

/* ------------------------ Gallery */

/* -------------------- ADD HOVER ANIMATIONS TO PICTURES DESCRIBING THEM */

.images{
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}
.images img{
  width: 100%;
}

@media screen and (max-width:800px){
  .images{
  column-count: 2;
  }
}